.brand {
  display: flex;
  flex-direction: column;
};

.brand__view {
  position: relative;
  height: 250px;

  order: 1;
    &::after {
      position: absolute;
      content: "";

      background: url("../img/icons/sprites.png") no-repeat;
    };
};

.brand:nth-child(1) .brand__view::after {
  top: 25%;
  right: 30%;

  width: 113px;
  height: 118px;

  background-position: -50px -299px;
};

.brand:nth-child(2) .brand__view::after {
  top: 20%;
  right: 22%;

  width: 177px;
  height: 152px;

  background-position: -199px -300px;
};

.brand__view--right::after {
  top: 40%;
  right: 17%;

  width: 208px;
  height: 67px;

  background-position: -351px -150px;
};

.brand__view--left {
  display: none;
};

.brand__view img{
  height: 100%;
};

.brand__discription {
  position: relative;

  background-color: @contact-backgroung-color;

  order: 2;
};

.brand__discription h2 {
  position: relative;

  padding: 70px 0 10px 0;

  .headline-text;
  text-align: center;
    &::after {
      position: absolute;
      content: "";

      background: url("../img/icons/sprites.png") no-repeat;

      top: 20px;
      right: 145px;
    };
};

.brand:nth-child(1) .brand__discription h2::after {
  width: 41px;
  height: 30px;

  background-position: -208px -60px;
};

.brand:nth-child(2) .brand__discription h2::after {
  width: 32px;
  height: 32px;

  background-position: -117px -59px;
};

.brand:nth-child(3) .brand__discription h2::after {
  width: 23px;
  height: 41px;

  background-position: -175px -53px;
};

.brand__discription p {
  padding: 15px 30px 30px 30px;

  .main-text;
  text-align: justify;
};

@media @tablet-widths {
  .brand__view {
    &::after {
      top: 20%;
      right: 35%;
    };
  };

  .brand:nth-child(1) .brand__view::after {
    top: 30%;
    right: 42%;
  };

  .brand:nth-child(2) .brand__view::after {
    top: 20%;
    right: 38%;
  };

  .brand__view--right::after {
    top: 40%;
    right: 35%;
  };

  .brand__discription h2 {
    padding-bottom: 0;
    &::after {
      top: 20px;
      right: 360px;
    };
  };

  .brand__view--right img {
    width: 768px;
  };
};

@media @desktop-widths {
  .brand {
    flex-direction: row;
  };

  .brand__view {
    height: 496px;
    width: 892px;

    order: 0;
  };

  .brand:nth-child(1) .brand__view::after {
    top: 35%;
    right: 40%;
  };

  .brand:nth-child(2) .brand__view {
    order: 1;
  };

  .brand:nth-child(2) .brand__view::after {
    top: 35%;
    right: 35%;
  };

  .brand__view--right::after {
    top: 35%;
    right: 25%;
  };

  .brand__view--left {
    display: block;

    width: 446px;
    order: 3;
  };

  .brand__view--right {
    width: 446px;
  };

  .brand__view--left::after {
    position: static;
  };

  .brand__view img{
    height: 496px;
  };

  .brand__discription {
    width: 533px;
    order: 1;

    &::after {
      position: absolute;
      content: "";

      width: 446px;
      height: 160px;

      bottom: 0;

      background-size: cover;
    };

    &::before {
      position: absolute;
      content: "";

      width: 0;
      height: 0;

      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid @contact-backgroung-color;

      top: 336px;
      left: 215px;

      z-index: 1;
    };
  };

  .brand:nth-child(1) .brand__discription:after {
    background-image: url(../img/picture_small_bike_company.jpg);
  };

  .brand:nth-child(2) .brand__discription:after {
    background-image: url(../img/picture_small_vintage.jpg);
  };

  .brand:nth-child(3) .brand__discription:after {
    background-image: url(../img/picture_small_bicycles.jpg);
  };

  .brand:nth-child(3) .brand__discription {
    order: 2;
  };

  .brand__discription {
    width: 446px;
  };

  .brand__discription h2 {
    &::after {
      top: 20px;
      right: 200px;
    };

    &::before {
      position: absolute;
      content: "";

      width: 50px;
      height: 1px;

      top: 320px;
      right: 200px;

      background-color: @mail-text-color;
    };
  };

  .brand__discription p {
    width: 390px;
  };
};
